{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_apiquery/test_sql_display

    Test query - SQL display card.

    @copyright 2026 CESW <cesarmachado443@gmail.com>
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

    Context variables required for this template:
    * card_title - Card header text
    * sqlquery - SQL query text (escaped)

    Example context (json):
    {
        "card_title": "Current SQL",
        "sqlquery": "SELECT * FROM {user} WHERE id = :userid"
    }
}}
<div class="card mt-4">
    <div class="card-header">{{card_title}}</div>
    <div class="card-body">
        <pre class="bg-dark text-light p-3 rounded mb-0">{{sqlquery}}</pre>
    </div>
</div>
